
@import "./_variables.scss";

* {
    transition: all 0.12s;
}

body,html {
    margin:0;
    padding:0;
    height:calc(100% - 20px);
}

body {
    background:$blue1;
    background-image:url('@/assets/bg.png');
    background-position:bottom right;
    border:$padding-med solid rgba(255,255,255,0.1);
    color:white;
    overflow: hidden;
    font-family: Inter;

    .pos-1 {
        background-position:top right;
    }

    &:after {
        content:'';
        position: absolute;
        height: 65%;
        left: 0px;
        right:0px;
        bottom: 0px;
        z-index: -1;
        background: linear-gradient(180deg, rgba(214, 121, 168, 0) 20%, #5100C7 75.76%);
        // background: red;
        opacity: 0.9;
    }
}

#__nuxt, #__layout {
    height:100%;
}

a {
    text-decoration: none;
}

/* Content */

.wrap-content {
    flex:1;

    section {
        width:100%;
        height:100%;
        display:flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;

        .flex-wrap {
            display:flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            width:50%;

            
            h1 {
                font-family: Inter;
                font-size: 38px;
                line-height: 46px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-top:0;
                align-self:center;
                text-align:center;
                place-self: center;

                @media only screen and (max-width: 800px) {
                    font-size: 26px;
                    line-height: 32px;
                } 
            }

            h3 {
                font-family: Inter;
                font-size: 24px;
                font-weight:200;
                line-height: 33px;
                text-align: center;
                color: #FFFFFF;
                align-self:center;
                text-align:center;
                place-self: center;

                @media only screen and (max-width: 800px) {
                    font-size: 16px;
                    line-height: 22px;
                } 
            } 
        }
    }
}

@keyframes sub-nav-grow {
  from {
    top:80px;
  }
  to {
    top:0;
  }
}

.sub-nav {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(74px);
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(34px);
    overflow:hidden;
    justify-content:space-between;
    align-items:center;
    padding: $padding-med; 
    animation-name: sub-nav-grow;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    position:relative;
    z-index:0;

    .back {
        display: flex;
        flex-direction: row;
        align-items:center;
        color: white;
        font-size:12px;

        svg {
            margin-right:10px;
        }
    }

    .button-group {
        display: flex;
        justify-content:space-between;
        align-items:center;

        .info {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.5);
            margin-right:$padding-med;
        }

        .button {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            padding:$padding-small $padding-med;
            line-height: 20px;
            text-align: center;
            color: #ffffff;
            display: block;
            float: right;
            cursor: pointer;

            background: linear-gradient(319.83deg, #603CB3 16.89%, #B52D8F 85.82%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 14px 14px #331F5C, inset 0px 6px 22px #EB67B6;
            border-radius: 4px;


            &:hover {
                transform: scale(1.05);
                box-shadow: 0px 14px 14px rgba(24, 7, 36, 0.47), 0px 4px 4px rgba(40, 11, 60, 0.47);
                background:white;
                color:black;
            }
        }

    }
}