
@import "./_variables.scss";

* {
    transition: all 0.12s;
}

html {
    font-size: 100%;

    @media only screen and (max-width: 800px) {
        font-size: 62.8%;
    } 

    @media only screen and (max-width: 1200px) {
        font-size: 76%;
    } 

}

html 

body,html {
    margin:0;
    padding:0;
    height: 100%;
}

body {
    background-color:black;
    background-image:url(@/assets/bg.png);
    background-size:100vh;
    background-repeat:no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    border:0 solid white;
    color:white;
    overflow-x: hidden;
    font-family: Inter;

    .pos-1 {
        background-position:top right;
    }

    @media only screen and (max-width: 800px) {
        border:0;
    } 


}

body {
  font-weight: 400;
  line-height: 1.75;
}

p, li {
    margin-bottom: 1rem;
    color: white;
    font-family: 'Poppins';

    @media only screen and (max-width: 800px) {
        font-size: 100%;
    } 
}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: white;
    font-family: 'Poppins';

    @media only screen and (max-width: 800px) {
        margin: 1.5rem 0 .78rem;
    } 
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
  font-weight: bold;
}

h2 {
    font-size: 2.441rem; opacity:0.4;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small, .text_small {font-size: 0.8rem;}

#__nuxt, #__layout {
    height:100%;
}

a {
    text-decoration: none;
    color:rgba(255,255,255,0.7);
}

/* Content */

@keyframes fade-in-wrap {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.content {
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    padding:140px 10% 100px;

    .inline-wow {
        position: fixed;
        right: 5%;
        top: 15%;
        z-index: -1;
        opacity:0.4;

        @media only screen and (max-width: 800px) {
            display:none;
        } 
    }
}


.sub-nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    height:80px;
    padding:0 10px;
    font-family: Poppins;

    .button-group {
        display: flex;
        justify-content:space-between;
        align-items:center;
        padding: 8px;

        @media only screen and (max-width: 800px) {
            align-items:right;
        } 

        .info {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.75);
            margin-right:$padding-med;
            font-family: Poppins;

            @media only screen and (max-width: 800px) {
                font-size: 12px;
                margin-right:8px;
            } 
        }

        .button {
            font-family: Poppins;
            font-size: 14px;
            padding:$padding-small $padding-med;
            line-height: 20px;
            text-align: center;
            color: #ffffff;
            display: block;
            float: right;
            cursor: pointer;
            border:2px solid white;
            background: transparent;
            border-radius: 4px;

            @media only screen and (max-width: 800px) {
                font-size: 12px;
                padding:$padding-small;
                line-height: 6px;
            } 


            &:hover {
                transform: scale(1.05);
                border:2px solid white;
                background:white;
                color:black;
            }
        }

    }
}