
@import "./_variables.scss";

* {
    transition: all 0.12s;
}

body,html {
    margin:0;
    padding:0;
    height:calc(100% - 20px);
}

body {
    background:$blue1;
    background-image:url('@/assets/bg.png');
    background-position:bottom right;
    border:$padding-med solid rgba(255,255,255,0.1);
    color:white;
    overflow: hidden;
    font-family: Inter;

    .pos-1 {
        background-position:top right;
    }

    &:after {
        content:'';
        position: absolute;
        height: 100%;
        left: 0px;
        right:0px;
        bottom: 0px;
        z-index: -1;
        background: linear-gradient(220deg, rgba(214, 121, 168, 0) 50%, #5100C7 75.76%);
        // background: red;
        opacity: 0.9;
    }
}

#__nuxt, #__layout {
    height:100%;
}

a {
    text-decoration: none;
}

/* Content */

@keyframes fade-in-wrap {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.wrap-content {
    flex:1;
    animation-name: fade-in-wrap;
    animation-duration: 1s;

    section {
        width:100%;
        height:100%;
        display:flex;
        flex-direction: row;
        align-content: left;
        justify-content: flex-start;

        .flex-wrap {
            display:flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: left;
            width:50%;
            padding-left:40px;

            @media only screen and (max-width: 800px) {
                width:100%;
                padding:0 10%;
            } 

            
            h1 {
                font-family: 'Poppins';
                font-weight:200;
                font-size: 40px;
                line-height: 44px;
                color: #000;
                margin-top:0;
                text-align:left;

                @media only screen and (max-width: 800px) {
                    font-size: 32px;
                    line-height: 32px;
                } 
            }

            h3 {
                font-family: sans-serif;
                font-size: 16px;
                font-weight:200;
                line-height: 20px;
                color: #FFFFFF;
                text-align:left;
                margin-top:8px;
                width:65%;

                @media only screen and (max-width: 800px) {
                    font-size: 14px;
                    line-height: 22px;
                } 
            } 
        }
    }
}

@keyframes sub-nav-grow {
  from {
    top:80px;
  }
  to {
    top:0;
  }
}

.sub-nav {
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(34px);
    overflow:hidden;
    justify-content:space-between;
    align-items:center;
    padding: $padding-med; 
    animation-name: sub-nav-grow;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    position:relative;
    z-index:0;
    font-family: Poppins;
    mix-blend-mode: overlay;

    .back {
        display: flex;
        flex-direction: row;
        align-items:center;
        color: white;
        font-size:12px;

        svg {
            margin-right:10px;
        }
    }

    .button-group {
        display: flex;
        justify-content:space-between;
        align-items:center;

        .info {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.75);
            margin-right:$padding-med;
            font-family: Poppins;
        }

        .button {
            font-family: Poppins;
            font-size: 14px;
            padding:$padding-small $padding-med;
            line-height: 20px;
            text-align: center;
            color: #ffffff;
            display: block;
            float: right;
            cursor: pointer;
            border:2px solid white;
            background: transparent;
            border-radius: 4px;


            &:hover {
                transform: scale(1.05);
                border:2px solid white;
                background:white;
                color:black;
            }
        }

    }
}